.list-item{
    display: flex;
    /* max-width: 1024px;
    width: 100%;
     */
   
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}

.seacrh-list-items{
    max-width: 1024px;
   
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
    padding: 10px;
    width: 40%;
    background-color: goldenrod;
    
    border-radius: 10px;
}

.hotel{
    background-color: blue;
    width: 70%;
}

.ls-search{
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.ls-search>input{
 height: 30px;
 border: none;
 outline: none;
 padding: 5px;
}

.ls-search>span{
    height: 30px;
    border: none;
    outline: none;
    padding: 5px 2px;
   background-color: white;
}

.options{
    display: flex;
    justify-content: space-between;
}

.searchbtn{
    width: 100%;
    margin-top: 50px;
   
   
}

.searchBtn{
    background-color: rgb(24, 24, 228);
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
}

.options>input{
    width: 50px;
}

